/**Загальні стилі **/
* {
    transition: all .3s;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    color: #fafafa;
    background-color: #f5f5f5;
}
embed,img,object,video {
    max-width: 100%;
}
video {
    max-width: 100%;
    height: auto;
}
.wrapper {
    width: 1140px;
    margin: 0 auto;
}
header {
    height: 200%;
}
main {
    height: 200%;
}
/* Задаём всем элеметам ширину в 100% */
nav[role="navigation"] {
    position: fixed;
    right: 0;
    top: 0;
    height: 10vh;
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #bdbdbd;
}
a.nav-mini-logo {
    display: block;
    width: 5%;
    height: 10vh;
    float: left;
}
nav[role="navigation"] img {
    height: 8vh;
    width: 90%;
    margin-top: 1vh;
    padding-left: 9%;
}
nav[role="navigation"] ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 95%;
    height: 100%;
}
nav[role="navigation"] li a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #333333;
    font-size: 1.2em;
    padding: 0 1em;
    line-height: 2.4;
}
nav[role="navigation"] li a:hover {
    color: #151515;
}
.about-me-block {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    padding: 0;
    height: 100vh;
    padding-top: 10vh;
    background-color: #f5f5f5;
}
.about-me-img {
    width: 50%;
    padding: 5em 2em;
    display: flex;
    justify-content: center;
}
.about-me-img img {
    width: 50%;
    height: 15%;
}
.about-me-text {
    width: 50%;
    padding: 6em 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #212121;
}
.about-me-text p {
    padding: 1em 0;
    border: 2px solid #212121;
    border-right: none;
    border-left: none;
}
.forMobileOnly {
    display: none;
}

.my-jobs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #212121;
}
.my-jobs h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid #212121;
    padding-bottom: 0.2em;
}
.my-jobs-presentations {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 2%;
}
.presentation-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 0.3em 2em;
    margin-top: 1%;
    border: 1px solid #e0e0e0;
}
.presentation-block:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .7);
    border: 1px solid rgba(255, 255, 255, 0);
}


.presentation-block h1 {
    width: 90%;
    border: none;
    font-size: 2.4em;
    padding: 0;
}

.presentation-block img,
.presentation-block a,
.presentation-block p {
    padding-bottom: 0.6em;
    margin: 0;
}
.presentation-block a {
    color: chocolate;
    letter-spacing: 0.05em;
    font-size: 1.1em;
}












@-webkit-keyframes rotating {
    0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@media only screen and (min-device-width : 320px)  and (max-device-width : 480px) {
    .wrapper {
        width: 320px;
        margin: 0 auto;
    }
    nav[role="navigation"] {
        position: fixed;
        right: 0;
        top: 0;
        height: 60px;
        width: 100%;
        background-color: #f5f5f5;
        border-bottom: 1px solid #bdbdbd;
    }
    a.nav-mini-logo {
        display: none;
    }
    nav[role="navigation"] img {
        display: none;
    }
    nav[role="navigation"] ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        width: 100%;
        height: 100%;
    }
    nav[role="navigation"] li a {
        display: block;
        height: 100%;
        text-decoration: none;
        color: #333333;
        font-size: 1.1em;
        padding: 0 0.5em;
        line-height: 2.2;
    }
    nav[role="navigation"] li a:hover {
        color: #151515;
    }
    .about-me-block {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        padding: 0;
        height: 100vh;
        padding-top: 10vh;
        background-color: #f5f5f5;
    }
    .about-me-img {
        width: 100%;
        height: auto;
        padding: 2em 1em;
        display: flex;
        justify-content: center;
    }
    .about-me-img img {
        width: 70%;
        height: 400px;
    }
    .about-me-text {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #212121;
    }
    .about-me-text h1 {
        font-size: 2.2em;
    }
    .about-me-text p {
        padding: 2em 0;
        border: 2px solid #212121;
        border-right: none;
        border-left: none;
        
    }
    .my-jobs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #212121;
    }
    .my-jobs h1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 2px solid #212121;
        padding-bottom: 0.2em;
    }
    .my-jobs-presentations {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 2%;
    }
    .presentation-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0.3em 2em;
        margin-top: 1%;
        margin-bottom: 2%;
        border: 1px solid #e0e0e0;
    }
    .presentation-block:hover {
        box-shadow: 0 1px 4px rgba(0, 0, 0, .7);
        border: 1px solid rgba(255, 255, 255, 0);
    }


    .presentation-block h1 {
        width: 90%;
        border: none;
        font-size: 2.4em;
        padding: 0;
    }

    .presentation-block img,
    .presentation-block a,
    .presentation-block p {
        padding-bottom: 0.6em;
        margin: 0;
    }
    .presentation-block a {
        color: chocolate;
        letter-spacing: 0.05em;
        font-size: 1.1em;
    }
}
/* Экраны среднего размера */
@media all and (min-width: 600px) {
  
  
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
}
/* Большие экраны */
@media all and (min-width: 800px) {
  
}