/**Загальні стилі **/
* {
    transition: all .3s;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    background-color: rgb(15,15,15);
    color: rgb(245,245,245);
}
embed,img,object,video {
    max-width: 100%;
}
video {
    max-width: 100%;
    height: auto;
}
.wrapper {
    width: 1140px;
    margin: 0 auto;
}

/* Landscape - телефоны */
@media (max-width: 480px) {
    body {
        font-size: 16px;
    }
    /*** ШАПКА САЙТУ ***/
    header {
        width: 100%;
    }
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(21,21,21);
    }
    header img {
        display: flex;
        margin-top: 2vh;
        height: 30vh;
        border: 3px solid rgb(135,176,74);
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0,0,0,1);
    }
    header h1 {
        display: flex;
        width: 70%;
        margin: 0;
        margin-top: 2%;
        padding: 0;
        padding-top: 2%;
        color: rgb(245,245,245);
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        text-shadow: 0 2px 2px rgba(0,0,0,1);
    }
    /*** /ШАПКА САЙТУ ***/
    
    /*** ОБ'ЄКТИ СТРІЛКИ ***/
    .separator {
        width: 100%;
    }
    
    .triangle-down-0 {
        width: 0; 
        height: 0; 
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-top: 15vh solid rgb(21,21,21);
        margin-top: -0.1vh;
    }
    .triangle-down-1 {
        width: 0; 
        height: 0; 
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-top: 15vh solid rgb(15,15,15);
        margin-top: -5vh;
    }
    .triangle-bottomL-1 {
        width: 0;
        height: 0;
        border-bottom: 15vh solid rgb(21,21,21);
        border-right: 50vw solid transparent;
        float: left;
        margin-top: -10vh;
    }
    .triangle-bottomR-1 {
        width: 0;
        height: 0;
        border-bottom: 15vh solid rgb(21,21,21);
        border-left: 50vw solid transparent;
        float: right;
        margin-top: -10vh;
    }
    
    .triangle-down-2 {
        width: 0; 
        height: 0; 
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-top: 15vh solid rgb(21,21,21);
        margin-top: -0.1vh;
    }
    .triangle-bottomL-2 {
        width: 0;
        height: 0;
        border-bottom: 15vh solid rgb(15,15,15);
        border-right: 50vw solid transparent;
        float: left;
        margin-top: -10vh;
    }
    .triangle-bottomR-2 {
        width: 0;
        height: 0;
        border-bottom: 15vh solid rgb(15,15,15);
        border-left: 50vw solid transparent;
        float: right;
        margin-top: -10vh;
    }
    /*** /ОБ'ЄКТИ СТРІЛКИ ***/
    
    /*** ПРО МЕНЕ ***/
    main {
        background-color: rgb(15,15,15);
    }
    .about {
        padding: 5vh 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .block-title h1 {
        width: 95%;
        display: flex;
        align-self: flex-start;
        color: rgb(135,176,74);
        margin: 0;
        margin-left: 1rem;
        padding: 0 0.2rem;
        font-size: 1.8em;
        text-shadow: 0 1px 1px rgba(0,0,0,1);
        border-bottom: 2px solid rgb(135,176,74);
    }
    .about-text {
        width: 90%;
    }
    p {
        width: 100%;
        margin: 0.1rem 0;
        padding: 0.2rem 0;
        text-indent: 0.5rem;
    }
    /*** /ПРО МЕНЕ ***/
    
    /*** ВМІННЯ ***/
    .skills {
        padding: 5vh 0;
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        background-color: rgb(21,21,21);
    }
    .skills-block {
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
    }
    .skills header {
        width: 100%;
    }
    .skills~header h1 {
        width: 100%;
    }
    .skill-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
    }
    .skill-block h2 {
        font-size: 1.2em;
        font-weight: 400;
        margin-bottom: 0;
    }
    .progress-bar {
        width: 100%;
        height: 2em;
        border: 2px solid rgb(135,176,74);
    }
    .level-html {
        width: 0;
        height: 80%;
        margin: 0.2em;
        line-height: 1.4;
        text-align: center;
        background-color: rgb(135,176,74);
        -webkit-animation-name: level-html-animate;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: infinite; 
        -webkit-animation-timing-function: linear;
        animation-name: level-html-animate;
        animation-duration: 4s;
        animation-iteration-count: infinite; 
        animation-timing-function: linear;
    }
    .level-css {
        width: 0;
        height: 80%;
        margin: 0.2em;
        line-height: 1.4;
        text-align: center;
        background-color: rgb(135,176,74);
        -webkit-animation-name: level-css-animate;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: infinite; 
        -webkit-animation-timing-function: linear;
        animation-name: level-css-animate;
        animation-duration: 4s;
        animation-iteration-count: infinite; 
        animation-timing-function: linear;
    }
    .level-js {
        width: 0;
        height: 80%;
        margin: 0.2em;
        line-height: 1.4;
        text-align: center;
        background-color: rgb(135,176,74);
        -webkit-animation-name: level-js-animate;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: infinite; 
        -webkit-animation-timing-function: linear;
        animation-name: level-js-animate;
        animation-duration: 4s;
        animation-iteration-count: infinite; 
        animation-timing-function: linear;
    }
    /*** /ВМІННЯ ***/
    
    .my-jobs {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-bottom: 5%;
    }
    .project-block {
        width: 90%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .project-block h2 {
        font-size: 1.2em;
        font-weight: 400;
    }
    .project-block a {
        width: 90%;
        display: block;
    }
    .project-block a.text-link {
        width: 90%;
        padding: 0.1em;
        padding-left: 5vw;
        margin: 0.5em;     
        font-size: 1.2em;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1em;
        color: rgba(245,245,245,.3);
        border-left: 2px solid rgb(135,176,74);
        border-right: 2px solid rgb(135,176,74);
    }
    .project-block a:hover {
        color: rgb(135,176,74);
        border-left: 2px solid rgba(245,245,245,.3);
        border-right: 2px solid rgba(245,245,245,.3);
    }
    .writeToMe-block {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: rgb(21,21,21);
        padding-top: 5vh;
    }
    .send-form {
        width: 90%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    label {
        align-self: flex-start;
        margin-top: 3%;
        font-size: 1.2em;
    }
    input,
    textarea {
        width: 100%;
        margin-top: 2%;
        outline: none;
        resize: none;
        overflow: auto;
        border-radius: 0;
        background-color: rgba(245,245,245,1);
        border: 2px solid transparent;
    }
    input:focus,
    textarea:focus {
        outline: none;
        border-radius: 0;
        border: 2px solid rgb(135,176,74);
        box-shadow: 0 2px 5px rgba(0,0,0,1);
    }

    button {
        width: 100%;
        height: 40px;
        margin-bottom: 5%;
        font-size: 1.2em;
        text-transform: uppercase;
        color: rgba(245,245,245,.3);
        background-color: transparent;
        color: rgba(245,245,245,.3);
        border-color: transparent;
        border-left: 2px solid rgb(135,176,74);
        border-right: 2px solid rgb(135,176,74);
    }
    button:hover {
        color: rgba(245,245,245,1);
        background-color: rgb(135,176,74);
    }
    button[type="reset"] {
        border-left: 2px solid rgb(170,75,75);
        border-right: 2px solid rgb(170,75,75);
    }
    button[type="reset"]:hover {
        background-color: rgb(170,75,75);
    }

}

/* От ландшафтного экрана телефона до потретного планшета */
@media (max-width: 767px) {
    
}

/* От портретного планшета до ландшафтного экрана и настольных дисплеев */
@media (min-width: 768px) and (max-width: 979px) { ... }

/* Большой дисплей */
@media (min-width: 1200px) { ... }

@keyframes level-html-animate {
    from {
        width: 0;
    }
    to {
        width: 44%;
    }
}
@-webkit-keyframes level-html-animate {
    from {
        width: 0;
    }
    to {
        width: 44%;
    }
}
@-webkit-keyframes level-css-animate {
    from {
        width: 0;
    }
    to {
        width: 73%;
    }
}
@keyframes level-css-animate {
    from {
        width: 0;
    }
    to {
        width: 73%;
    }
}
@-webkit-keyframes level-js-animate {
    from {
        width: 0;
    }
    to {
        width: 5%;
    }
}
@keyframes level-js-animate {
    from {
        width: 0;
    }
    to {
        width: 5%;
    }
}