* {
    box-sizing:border-box;
    transition: all 0.5s;
}

html,body {
    height:100%;
    font-size: 16px;
}

body h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

body {
    background: #d3e2d4;
    background: linear-gradient(145deg, #eceff1,#cfd8dc) top left fixed;
    font-family: 'Scada', sans-serif;
    min-height: 580px;
    -webkit-font-smoothing: antialiased;
}

.paper {
    width: 280px;
    height: 480px;
    position: absolute;
    top: 150px;
    left: 3%;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

.box {  
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.logo {
    width: 280px;
    height: 100px;
    position: absolute;
    top: 0;
}

.logoTop {
    height: 65%;
    width: 100%;
    text-align: center;
}

.logoTop span {
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 3.5rem;

}

.logoTop span a {
    text-decoration: none;
    color: #212121;
}

.logoBot {
    height: 35%;
    width: 100%;
    text-align: center;
    background-color: #212121;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.15;
    letter-spacing: 1.5rem;
}

.logoBot span {
    padding-left: 1.5rem;
}

.main {
    width: 100%;
    height: 330px;
    position: absolute;
    top: 100px;
    overflow: hidden;
    background-color: #fafafa;
}

.topic {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    border-left: 3px solid #e0e0e0;
    border-right: 3px solid #e0e0e0;
}

.topic:hover {
    background-color: rgba(0,0,0, 0.05);
    border-left: 3px solid #212121;
    border-right: 3px solid #212121;
}

.topic img {
    height: 50px;
    float: right;
    margin-right: 5px;
    opacity: 0.7;
}

.topic:hover img {
    margin-top: -5px;
    opacity: 1;
}

.topic h1 {
    width: 47%;
    height: 100%;
    margin-top: 0;
    float: left;
    font-size: 1rem;
    font-weight: 400;
    overflow: hidden;
}

.topic h1 a {
    display: block;
    text-decoration: none;
    padding: 2px;
    color: #212121;
    line-height: 1.45;
    text-shadow: 0 1px 1px rgba(0,0,0, 0.1);
}

.titlePage {
    width: 100%;
    height: 430px;
    position: absolute;
    top: 0;
    background-image: url('img/mainPhoto.jpg');
}

.titleText {
    width: 100%;
    padding-left: 15px;
    position: absolute;
    top: 155px;
    color: #fff;
    text-transform: uppercase;
}

.titleText h1 {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.08rem;
}

.titleText h2 {
    margin-top: 20px;
    font-size: 2.2em;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0,0,0, 0.5);
}

.titlePage a {
    width: 60px;
    display: block;
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 3px 2px 2px 3px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    color: #616161;
    background-color: #fafafa;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
    opacity: 0.9;
}

.titlePage a:hover {
    color: #ffffff;
    background-color: #2962ff;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.3);
    opacity: 1;
}

.titlePage a:active {
    background-color: #ffffff;
    color: #212121;
}

nav.mainBar {
    display: table;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
    border-top: 1px solid #eeeeee;
}

nav.mainBar ul {
    display: table-row;
}

nav.mainBar ul li {
    display: table-cell;
    padding-top: 15px;
}

nav.mainBar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #616161;
    font-size: 0.8rem;
}

nav.mainBar ul li a:hover {
    color: #212121;
}

nav.mainBar ul li a:active {
    margin: 5px;
}

nav.mainBar ul li:first-child {
    float: left;
    padding-left: 25px;
}

nav.mainBar ul li:last-child {
    float: right;
    padding-right: 25px;
}

.content {
    width: 100%;
    height: 430px;
    overflow: hidden;
    position: absolute;
    top: 0;
    background-color: #fafafa;
    animation: scale 0.7s ease-in-out;
}

.content section {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    display: none;
}

input {
    display: none;
}

label {
    display: inline-block;
    width: 32.2%;
    height: 30px;
    margin-top: 400px;
    color: #bdbdbd;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #fafafa;
}

input:checked + label {
    color: #757575;
    border-top: 1px solid #757575;
}

label:hover {
    color: #212121;
    border-top: 1px solid #212121;
}

#dot1:checked ~ #frame1, 
#dot2:checked ~ #frame2, 
#dot3:checked ~ #frame3 {
  display: block;
}

.content section {
     animation: scale 0.3s ease-in;
}
@keyframes scale {
  0% {
    transform: scale(0.97);
    opacity: 0;
    }
  50% {
    transform: scale(1.001);
    opacity: 0.5;
    }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.content section p {
    padding: 15px 20px;
    margin: 0;
    color: #757575;
    font-size: 0.9rem;
    text-indent: 10px;
}

.content section p.bigLetter {
    text-indent: 0;
}

.content section p.bigLetter:first-letter{
    float: left;
    padding: 20px 10px 0 0;
    color: #2962ff; 
    font-size: 3.9rem;
    line-height: 0.3;
}

.content section img {
    width: 100%;
    float: left;
    margin: 10px 0 5px 0;
    border: 4px solid #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
}

.content section strong {
    color: #424242;
}

.content section em.imgDescription {
    width: 100%;
    float: left;
    margin: 0 0 5px 0;
    text-align: right;
    color: #424242;
}

nav.commentsBar {
    display: table;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
}

nav.commentsBar ul {
    display: table-row;
}

nav.commentsBar ul li {
    display: table-cell;
    padding-top: 15px;
}

nav.commentsBar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #616161;
    font-size: 0.8rem;
    
}

nav.commentsBar ul li a:hover {
    color: #212121;
}

nav.commentsBar ul li a:active {
    margin: 5px;
}

nav.commentsBar ul li:first-child {
    float: left;
    padding-left: 25px;
}

nav.commentsBar ul li:last-child {
    float: right;
    padding-right: 25px;
}

.comments {
    width: 100%;
    height: 430px;
    position: absolute;
    bottom: 0;
    background-color: #fafafa;
}

section.commentsBlock {
    width: 100%;
    padding: 15px 20px;
}

section.commentsBlock img {
    float: left;
    width: 50px;
    border-radius: 100%;
}

section.commentsBlock h1 {
    display: inline-block;
    margin: 0;
    padding: 0 0 0 10px;
    color: #212121;
    font-size: 0.7rem;
}

section.commentsBlock h2 {
    display: inline-block;
    margin: 0;
    color: #bdbdbd;
    font-size: 0.7rem;
}

section.commentsBlock a {
    text-decoration: none;
    color: #616161;
}

section.commentsBlock a:hover {
    color: #212121;
}

section.commentsBlock p {
    margin: 0;
    padding: 0 0 0 60px;
    color: #757575;
    font-size: 0.9rem;
}

.paper.preview1 {
    margin-left: 20px;
}

.paper.preview2 {
    margin-left: 340px;
}

.paper.preview3 {
    margin-left: 660px;
}

.paper.preview4 {
    margin-left: 980px;
}