/**Загальні стилі **/
* {
    transition: all .3s;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.night {
    width: 100vw;
    height: 100%;
    background: radial-gradient(circle farthest-corner at 50vw 75vh, rgba(128,198,208,1) 0%, rgba(66,149,183,1) 40%, rgba(35,76,137,1) 100%);
    z-index: 10;
}

.light {
    height: 100%;
    background-color: rgba(255,255,255,.1);
}

.inTopXL {
    width: 100vw;
    height: 3vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(26,28,65,1);
}
.inTopL {
    width: 96vw;
    height: 3vh;
    position: absolute;
    top: 3vh;
    right: 0;
    background-color: rgba(26,28,65,1);
}
.inTopM {
    width: 50vw;
    height: 3vh;
    position: absolute;
    top: 6vh;
    right: 6vw;
    background-color: rgba(26,28,65,1);
    z-index: 2;
}
.inTopS {
    width: 34vw;
    height: 4vh;
    position: absolute;
    top: 9vh;
    right: 6vw;
    background-color: rgba(26,28,65,1);
    z-index: 2;
}

.ground {
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    background-color: rgba(26,28,65,1);
}

.bush-1 {
    width: 11vw;
    height: 20vh;
    background-color: rgba(26,28,65,1);
    border-radius: 50%;
    position: absolute;
    bottom: 0vh;
    left: 18vw;
    transform: scale(0.96,0.96);
    z-index: 6;
}
.bush-2 {
    width: 11vw;
    height: 20vh;
    background-color: rgba(26,28,65,1);
    border-radius: 50%;
    position: absolute;
    bottom: 0vh;
    left: 25vw;
    transform: scale(0.6,0.6);
    z-index: 6;
}
.bush-3 {
    width: 11vw;
    height: 20vh;
    background-color: rgba(26,28,65,1);
    border-radius: 50%;
    position: absolute;
    bottom: 0vh;
    right: 13vw;
    transform: scale(1,1);
    z-index: 6;
}
.bush-4 {
    width: 11vw;
    height: 20vh;
    background-color: rgba(26,28,65,1);
    border-radius: 50%;
    position: absolute;
    bottom: 0vh;
    right: 33vw;
    transform: scale(0.7,0.7);
    z-index: 6;
}

.triangle-1 {
    width: 3vw;
    height: 0;    
    padding-left: 15%;
    padding-bottom: 15%;
    overflow: hidden;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 8vh;
    left: -2vw;
}
.triangle-1:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-300px;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 350px solid rgba(26,28,65,1);
    animation: rotating2 10s; 
    animation-iteration-count: infinite;
    -webkit-animation: rotating2 10s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.triangle-2 {
    width: 3vw;
    height: 0;    
    padding-left: 15%;
    padding-bottom: 15%;
    overflow: hidden;
    transform: rotate(-65deg);
    position: absolute;
    bottom: 13vh;
    left: -1.3vw;
}
.triangle-2:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-300px;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 350px solid rgba(26,28,65,1);
    animation: rotating2 10s; 
    animation-iteration-count: infinite;
    -webkit-animation: rotating2 10s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.triangle-3 {
    width: 3vw;
    height: 0;    
    padding-left: 15%;
    padding-bottom: 15%;
    overflow: hidden;
    transform: rotate(-40deg);
    position: absolute;
    bottom: 17vh;
    left: 0.1vw;
}
.triangle-3:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-300px;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 350px solid rgba(26,28,65,1);
    animation: rotating2 10s; 
    animation-iteration-count: infinite;
    -webkit-animation: rotating2 10s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.triangle-4 {
    width: 3vw;
    height: 0;    
    padding-left: 15%;
    padding-bottom: 15%;
    overflow: hidden;
    transform: rotate(-20deg);
    position: absolute;
    bottom: 19vh;
    left: 2vw;
}
.triangle-4:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-300px;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 350px solid rgba(26,28,65,1);
    animation: rotating2 10s; 
    animation-iteration-count: infinite;
    -webkit-animation: rotating2 10s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.triangle-5 {
    width: 3vw;
    height: 0;    
    padding-left: 15%;
    padding-bottom: 15%;
    overflow: hidden;
    transform: rotate(0);
    position: absolute;
    bottom: 19.3vh;
    left: 4vw;
}
.triangle-5:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-300px;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 350px solid rgba(26,28,65,1);
    animation: rotating2 10s; 
    animation-iteration-count: infinite;
    -webkit-animation: rotating2 10s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.triangle-6 {
    width: 3vw;
    height: 0;    
    padding-left: 15%;
    padding-bottom: 15%;
    overflow: hidden;
    transform: rotate(20deg);
    position: absolute;
    bottom: 19vh;
    left: 6vw;
}
.triangle-6:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-300px;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 350px solid rgba(26,28,65,1);
    animation: rotating2 10s; 
    animation-iteration-count: infinite;
    -webkit-animation: rotating2 10s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.triangle-7 {
    width: 3vw;
    height: 0;    
    padding-left: 15%;
    padding-bottom: 15%;
    overflow: hidden;
    transform: rotate(40deg);
    position: absolute;
    bottom: 17.4vh;
    left: 7.7vw;
}
.triangle-7:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-300px;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 350px solid rgba(26,28,65,1);
    animation: rotating2 10s; 
    animation-iteration-count: infinite;
    -webkit-animation: rotating2 10s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.triangle-8 {
    width: 3vw;
    height: 0;    
    padding-left: 15%;
    padding-bottom: 15%;
    overflow: hidden;
    transform: rotate(65deg);
    position: absolute;
    bottom: 13.4vh;
    left: 9.4vw;
}
.triangle-8:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-300px;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 350px solid rgba(26,28,65,1);
    animation: rotating2 10s; 
    animation-iteration-count: infinite;
    -webkit-animation: rotating2 10s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.triangle-9 {
    width: 3vw;
    height: 0;    
    padding-left: 15%;
    padding-bottom: 15%;
    overflow: hidden;
    transform: rotate(90deg);
    position: absolute;
    bottom: 8.6vh;
    left: 10.1vw;
}
.triangle-9:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-300px;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 350px solid rgba(26,28,65,1);
    animation: rotating2 10s; 
    animation-iteration-count: infinite;
    -webkit-animation: rotating2 10s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.stem-1 {
    width: 6vw;
    height: 84vh;
    position: absolute;
    left: 6vw;
    top: 6vh;
    background: radial-gradient(circle at 100% 50%, rgba(46,53,105,1), rgba(49,52,97,1));
    z-index: 2;
}
.stem-1~.branch-1 {
    width: 6vw;
    height: 6vh;
    position: absolute;
    left: 0vw;
    top: 6vh;
    border-bottom: 2.5vh solid rgba(49,52,97,1);
}
.stem-1~.branch-2 {
    width: 6.7vw;
    height: 8vh;
    position: absolute;
    left: 12vw;
    top: 6vh;
    border-bottom: 2.5vh solid rgba(49,52,97,1);
    border-right: 1.4vw solid rgba(49,52,97,1);
    z-index: 3;
}
.stem-1~.branch-3 {
    width: 3vw;
    height: 10vh;
    position: absolute;
    left: 3vw;
    top: 29vh;
    border-bottom: 2vh solid rgba(46,53,105,1);
    border-left: 1vw solid rgba(46,53,105,1);
    z-index: 1;
}
.stem-1~.leaf-1 {
    width: 9vw;
    height: 10vh;
    position: absolute;
    left: 0;
    top: 19vh;
    background-color: rgba(26,28,65,1);
    z-index: 2;
}

.stem-2 {
    width: 4vw;
    height: 84vh;
    position: absolute;
    left: 16vw;
    top: 6vh;
    background: radial-gradient(circle at 100% 50%, rgba(57,70,129,1), rgba(51,66,121,1));
    z-index: 2;
}
.stem-2~.branch-1 {
    width: 6vw;
    height: 5vh;
    position: absolute;
    left: 20vw;
    top: 6vh;
    border-bottom: 1.8vh solid rgba(51,66,121,1);
    border-right: 0.9vw solid rgba(51,66,121,1);
    z-index: 1;
}
.stem-2~.branch-2 {
    width: 8vw;
    height: 8vh;
    position: absolute;
    left: 20vw;
    top: 29vh;
    border-bottom: 1.8vh solid rgba(57,70,129,1);
    border-right: 0.9vw solid rgba(57,70,129,1);
    z-index: 1;
}
.stem-2~.leaf-1 {
    width: 7vw;
    height: 8vh;
    position: absolute;
    left: 24vw;
    top: 21vh;
    background-color: rgba(26,28,65,.8);
    animation: rotating2 30s; 
    animation-iteration-count: infinite;
    -webkit-animation: rotating2 30s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.stem-2~.branch-3 {
    width: 2vw;
    height: 8vh;
    position: absolute;
    left: 14vw;
    top: 35vh;
    border-bottom: 1vh solid rgba(57,70,129,1);
    z-index: 1;
}
.stem-2~.branch-4 {
    width: 2vw;
    height: 8vh;
    position: absolute;
    left: 20vw;
    top: 45vh;
    border-bottom: 1vh solid rgba(57,70,129,1);
    z-index: 1;
}

.stem-3 {
    width: 4vw;
    height: 77vh;
    position: absolute;
    left: 64vw;
    top: 13vh;
    background: radial-gradient(circle at 0% 50%, rgba(57,70,129,1), rgba(51,66,121,1));
    z-index: 3;
}
.stem-3~.branch-1 {
    width: 8vw;
    height: 10vh;
    position: absolute;
    left: 56vw;
    top: 9vh;
    border-bottom: 2.5vh solid rgba(51,66,121,1);
    border-left: 1.4vw solid rgba(51,66,121,1);
    z-index: 1;
}
.stem-3~.branch-1-1 {
    width: 6vw;
    height: 7vh;
    position: absolute;
    left: 50vw;
    top: 9vh;
    border-bottom: 1.8vh solid rgba(51,66,121,1);
    border-left: 0.9vw solid rgba(51,66,121,1);
    z-index: 1;
}
.stem-3~.branch-2 {
    width: 11vw;
    height: 8vh;
    position: absolute;
    left: 68vw;
    top: 13vh;
    border-bottom: 2.5vh solid rgba(51,66,121,1);
    border-right: 1.4vw solid rgba(51,66,121,1);
    z-index: 4;
}
.stem-3~.branch-2-1 {
    width: 6vw;
    height: 5vh;
    position: absolute;
    left: 79vw;
    top: 13vh;
    border-bottom: 1.8vh solid rgba(51,66,121,1);
    border-right: 0.9vw solid rgba(51,66,121,1);
    z-index: 4;
}
.stem-3~.branch-3 {
    width: 3vw;
    height: 8vh;
    position: absolute;
    left: 61vw;
    top: 18vh;
    border-bottom: 1.5vh solid rgba(51,66,121,1);
    z-index: 1;
}

.stem-4 {
    width: 7.7vw;
    height: 77vh;
    position: absolute;
    left: 74vw;
    top: 13vh;
    background: radial-gradient(circle at 0% 50%, rgba(46,53,105,1), rgba(49,52,97,1));
    z-index: 3;
}
.stem-4~.branch-1 {
    width: 1.5vw;
    height: 7vh;
    position: absolute;
    left: 81.7vw;
    top: 29vh;
    border-bottom: 1.1vh solid rgba(49,52,97,1);
    border-right: 0.55vw solid rgba(49,52,97,1);
    z-index: 5;
}
.stem-4~.leaf-1 {
    width: 5vw;
    height: 8vh;
    position: absolute;
    left: 80.5vw;
    top: 21vh;
    background-color: rgba(26,28,65,1);
    z-index: 5;
    animation: rotating2 10s; 
    animation-iteration-count: infinite;
    -webkit-animation: rotating2 10s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.stem-4~.branch-2 {
    width: 1.5vw;
    height: 5vh;
    position: absolute;
    left: 72.5vw;
    top: 40vh;
    border-bottom: 1.1vh solid rgba(49,52,97,1);
    border-left: 0.55vw solid rgba(49,52,97,1);
    z-index: 5;
}
.stem-4~.leaf-2 {
    width: 7vw;
    height: 8vh;
    position: absolute;
    left: 69.1vw;
    top: 32vh;
    background-color: rgba(32,48,86,1);
    z-index: 5;
    animation: rotating2 25s; 
    animation-iteration-count: infinite;
    -webkit-animation: rotating2 25s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.stem-5 {
    width: 6vw;
    height: 84vh;
    position: absolute;
    left: 91vw;
    top: 6vh;
    background: radial-gradient(circle at 0% 50%, rgba(46,53,105,1), rgba(49,52,97,1));
    z-index: 5;
}
.stem-5~.branch-1 {
    width: 3vw;
    height: 5vh;
    position: absolute;
    left: 97vw;
    top: 28vh;
    border-bottom: 1.5vh solid rgba(49,52,97,1);
    z-index: 1;
}
.stem-5~.leaf-1 {
    width: 2vw;
    height: 9vh;
    position: absolute;
    left: 98vw;
    top: 15vh;
    background-color: rgba(26,28,65,1);
}

.hill-1 {
    position: absolute;
    bottom: 10vh;
    left: 0;
    z-index: 2;
}
.hill-1 polygon {
    fill: rgba(72,146,185,1);
}
.hill-1 svg {
  width: 25vw;
  height: 10vh;
  display: block;
}

.hill-2 {
    position: absolute;
    bottom: 10vh;
    left: 0;
    z-index: 1;
}
.hill-2 polygon {
    fill: rgba(108,181,198,.7);
}
.hill-2 svg {
  width: 25vw;
  height: 10vh;
  display: block;
}

.hill-3 {
    position: absolute;
    bottom: 10vh;
    left: 10vw;
    z-index: 1;
}
.hill-3 polygon {
    fill: rgba(106,185,202,.9);
}
.hill-3 svg {
  width: 45vw;
  height: 17vh;
  display: block;
}

.hill-4 {
    position: absolute;
    bottom: 10vh;
    left: 30vw;
    z-index: 3;
}
.hill-4 polygon {
    fill: rgba(72,146,185,1);
}
.hill-4 svg {
  width: 50vw;
  height: 17vh;
  display: block;
}

.hill-5 {
    position: absolute;
    bottom: 10vh;
    left: 30vw;
    z-index: 1;
}
.hill-5 polygon {
    fill: rgba(141,205,215,1);
}
.hill-5 svg {
  width: 50vw;
  height: 17vh;
  display: block;
}

.hill-6 {
    position: absolute;
    bottom: 10vh;
    left: 68vw;
    z-index: 2;
}
.hill-6 polygon {
    fill: rgba(78,153,185,1);
}
.hill-6 svg {
  width: 32vw;
  height: 17vh;
  display: block;
}

.hill-7 {
    position: absolute;
    bottom: 10vh;
    left: 85vw;
    z-index: 2;
}
.hill-7 polygon {
    fill: rgba(72,146,185,1);
}
.hill-7 svg {
  width: 15vw;
  height: 17vh;
  display: block;
}

.hill-8 {
    position: absolute;
    bottom: 10vh;
    left: 85vw;
    z-index: 1;
}
.hill-8 polygon {
    fill: rgba(108,181,198,.7);
}
.hill-8 svg {
  width: 15vw;
  height: 17vh;
  display: block;
}

.flower-1 {
    position: absolute;
    bottom: 10vh;
    left: 35vw;
    z-index: 6;
}
.flower-1 polygon {
    fill: rgba(35,44,79,1);
}
.flower-1 svg {
    width: 10vw;
    height: 25vh;
    display: block;
}

.flower-2 {
    position: absolute;
    bottom: 10vh;
    left: 42vw;
    z-index: 6;
}
.flower-2 polygon {
    fill: rgba(35,44,79,1);
}
.flower-2 svg {
    width: 10vw;
    height: 25vh;
    display: block;
}

.c-object-1 {
    width: 0.9vw;
    height: 2vh;
    position: absolute;
    left: 13.5vw;
    top: 25vh;
    background-color: rgba(26,28,65,1);
    transform: rotate(45deg);
    animation: rotating 20s; 
    animation-iteration-count: infinite;
    -webkit-animation: rotating 20s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.c-object-2 {
    width: 0.55vw;
    height: 1.2vh;
    position: absolute;
    left: 40vw;
    top: 13vh;
    background-color: rgba(26,28,65,1);
    transform: rotate(-10deg);
    animation: rotating 20s; 
    animation-iteration-count: infinite;
    -webkit-animation: rotating 20s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.c-object-3 {
    width: 1.2vw;
    height: 2.4vh;
    position: absolute;
    left: 51.5vw;
    top: 30vh;
    background-color: rgba(26,28,65,1);
    transform: rotate(45deg);
    animation: rotating 20s; 
    animation-iteration-count: infinite;
    -webkit-animation: rotating 20s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.c-object-4 {
    width: 0.55vw;
    height: 1.2vh;
    position: absolute;
    left: 58vw;
    top: 45vh;
    background-color: rgba(26,28,65,1);
    transform: rotate(-10deg);
    animation: rotating 20s; 
    animation-iteration-count: infinite;
    -webkit-animation: rotating 20s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.star-1 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 1vw;
    top: 3vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.2);
    animation: scale2 3s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale2 3s; 
    -webkit-animation-iteration-count: infinite;
}
.star-2 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 0.7vw;
    top: 27.1vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.2);
    animation: scale2 3s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale2 3s; 
    -webkit-animation-iteration-count: infinite;
}
.star-3 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 3.2vw;
    top: 34.2vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.1);
    animation: scale 2s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale 2s; 
    -webkit-animation-iteration-count: infinite;
}
.star-4 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 0.3vw;
    top: 55vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.1);
    animation: scale 2s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale 2s; 
    -webkit-animation-iteration-count: infinite;
}
.star-5 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 11.8vw;
    top: 21.5vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.2);
    animation: scale2 3s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale2 3s; 
    -webkit-animation-iteration-count: infinite;
}
.star-6 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 14vw;
    top: 49vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.2);
    animation: scale2 3s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale2 3s; 
    -webkit-animation-iteration-count: infinite;
}
.star-7 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 12vw;
    top: 59vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.1);
    animation: scale 2s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale 2s; 
    -webkit-animation-iteration-count: infinite;
}
.star-8 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 37vw;
    top: 11.5vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.1);
    animation: scale 2s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale 2s; 
    -webkit-animation-iteration-count: infinite;
}
.star-9 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 43.5vw;
    top: 10vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.2);
    animation: scale2 3s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale2 3s; 
    -webkit-animation-iteration-count: infinite;
}
.star-10 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 57vw;
    top: 9vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.1);
    animation: scale 2s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale 2s; 
    -webkit-animation-iteration-count: infinite;
}
.star-11 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 32vw;
    top: 47vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.2);
    animation: scale2 3s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale2 3s; 
    -webkit-animation-iteration-count: infinite;
}
.star-12 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 34vw;
    top: 56vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.2);
    animation: scale2 3s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale2 3s; 
    -webkit-animation-iteration-count: infinite;
}
.star-13 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 36vw;
    top: 28vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.1);
    animation: scale 2s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale 2s; 
    -webkit-animation-iteration-count: infinite;
}
.star-14 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 56vw;
    top: 25vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.2);
    animation: scale2 3s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale2 3s; 
    -webkit-animation-iteration-count: infinite;
}
.star-15 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 51vw;
    top: 40vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.2);
    animation: scale2 3s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale2 3s; 
    -webkit-animation-iteration-count: infinite;
}
.star-16 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 51vw;
    top: 65vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.1);
    animation: scale 2s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale 2s; 
    -webkit-animation-iteration-count: infinite;
}
.star-17 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 55vw;
    top: 52vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.1);
    animation: scale 2s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale 2s; 
    -webkit-animation-iteration-count: infinite;
}
.star-18 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 62vw;
    top: 47vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.2);
    animation: scale2 3s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale2 3s; 
    -webkit-animation-iteration-count: infinite;
}
.star-19 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 69vw;
    top: 57vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.1);
    animation: scale 2s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale 2s; 
    -webkit-animation-iteration-count: infinite;
}
.star-20 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 84vw;
    top: 50vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.2);
    animation: scale2 3s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale2 3s; 
    -webkit-animation-iteration-count: infinite;
}
.star-21 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 89.6vw;
    top: 41vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.2);
    animation: scale2 3s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale2 3s; 
    -webkit-animation-iteration-count: infinite;
}
.star-22 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 96vw;
    top: 18vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.2);
    animation: scale2 3s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale2 3s; 
    -webkit-animation-iteration-count: infinite;
}
.star-23 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 95.7vw;
    top: 36vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.2);
    animation: scale2 3s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale2 3s; 
    -webkit-animation-iteration-count: infinite;
}
.star-24 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 97vw;
    top: 43vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.1);
    animation: scale 2s; 
    animation-iteration-count: infinite;
    -webkit-animation: scale 2s; 
    -webkit-animation-iteration-count: infinite;
}
.star-25 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 48vw;
    top: 23vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.2);
    animation: starfall 6s; 
    animation-iteration-count: infinite;
    -webkit-animation: starfall 6s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.star-26 {
    width: 2.5vw;
    height: 5vh;
    position: absolute;
    left: 88vw;
    top: 28vh;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    transform: scale(0.2);
    animation: starfall2 3s; 
    animation-iteration-count: infinite;
    -webkit-animation: starfall2 3s; 
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s;
    opacity: 0;
}

.moon {
    width: 7vw; 
    height: 14vh; 
    border-radius: 50%;
    box-shadow: -1vw 0 0 0 rgba(255,255,255,1);
    z-index: 6;
    position: absolute;
    left: 47vw;
    top: 40vh;
}

@keyframes starfall {
    0%   {
        transform: translate(0,0) scale(0.1);
        opacity: 1;
    }
    25% {
        transform: translate(-3vw,6.1vh) scale(0.21);
        opacity: 1;
    }
    55% {
        opacity: 1;
    }
    60% {
        transform: translate(-5.1vw,11.1vh) scale(0.2);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes starfall { 
    0%   {
        transform: translate(0,0) scale(0.1);
        opacity: 1;
    }
    25% {
        transform: translate(-3vw,6.1vh) scale(0.21);
        opacity: 1;
    }
    55% {
        opacity: 1;
    }
    60% {
        transform: translate(-5.1vw,11.1vh) scale(0.2);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
} 

@keyframes starfall2 {
    0%   {
        transform: translate(0,0) scale(0);
        opacity: 0;
    }
    24%   {
        transform: translate(0,0) scale(0.1);
        opacity: 0;
    }
    25%   {
        transform: translate(0,0) scale(0.1);
        opacity: 1;
    }
    50% {
        transform: translate(-3vw,6.1vh) scale(0.15);
        opacity: 1;
    }
    75% {
        opacity: .1;
    }
    80% {
        transform: translate(-3.1vw,6.1vh) scale(0.14);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes starfall2 { 
    0%   {
        transform: translate(0,0) scale(0);
        opacity: 0;
    }
    24%   {
        transform: translate(0,0) scale(0.1);
        opacity: 0;
    }
    25%   {
        transform: translate(0,0) scale(0.1);
        opacity: 1;
    }
    50% {
        transform: translate(-3vw,6.1vh) scale(0.15);
        opacity: 1;
    }
    75% {
        opacity: .1;
    }
    80% {
        transform: translate(-3.1vw,6.1vh) scale(0.14);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }

} 

@keyframes scale {
    0%   { 
        transform: scale(0.1); 
    } 
    50%  { 
        transform: scale(0.15); 
    } 
    100% { 
        transform: scale(0.1); 
    }
}
@-webkit-keyframes scale { 
    0%   { 
        transform: scale(0.1); 
    } 
    50%  { 
        transform: scale(0.15); 
    } 
    100% { 
        transform: scale(0.1); 
    }
} 

@keyframes scale2 {
    0%   { 
        transform: scale(0.2); 
    } 
    50%  { 
        transform: scale(0.25); 
    } 
    100% { 
        transform: scale(0.2); 
    }
}
@-webkit-keyframes scale2 { 
    0%   { 
        transform: scale(0.2); 
    } 
    50%  { 
        transform: scale(0.25); 
    } 
    100% { 
        transform: scale(0.2); 
    }
} 

@keyframes rotating {
    0%   { 
        transform: rotate(0deg); 
    } 
    50%  { 
        transform: rotate(360deg); 
    }
    100% { 
        transform: rotate(0deg); 
    }
}
@-webkit-keyframes rotating { 
    0%   { 
        transform: rotate(0deg); 
    } 
    50%  { 
        transform: rotate(360deg); 
    }
    100% { 
        transform: rotate(0deg); 
    }
} 

@keyframes rotating2 {
    0%   { 
        transform: rotate(0deg); 
    } 
    25%  { 
        transform: rotate(1deg); 
    }
    50%  { 
        transform: rotate(0deg); 
    } 
    75%  { 
        transform: rotate(-1deg); 
    }
    100% { 
        transform: rotate(0deg); 
    }
}
@-webkit-keyframes rotating2 { 
    0%   { 
        transform: rotate(0deg); 
    } 
    25%  { 
        transform: rotate(1deg); 
    }
    50%  { 
        transform: rotate(0deg); 
    } 
    75%  { 
        transform: rotate(-1deg); 
    }
    100% { 
        transform: rotate(0deg); 
    }
} 
@keyframes leaf1 {
    0%   { 
        transform: rotate(0deg); 
    } 
    25%  { 
        transform: rotate(1deg); 
    }
    50%  { 
        transform: rotate(0deg); 
    } 
    75%  { 
        transform: rotate(-1deg); 
    }
    100% { 
        transform: rotate(0deg); 
    }
}
@-webkit-keyframes leaf1 { 
    0%   { 
        transform: rotate(0deg); 
    } 
    25%  { 
        transform: rotate(1deg); 
    }
    50%  { 
        transform: rotate(0deg); 
    } 
    75%  { 
        transform: rotate(-1deg); 
    }
    100% { 
        transform: rotate(0deg); 
    }
} 