/** ЗАГАЛЬНІ СТИЛІ **/
* {
    transition: all .3s;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    font-size: 1em;
    font-size: 1rem;
    font-size: 16px;
    color: #212121;
    background-color: rgba(173, 198, 9, .2);
}
embed, 
img, 
object, 
video {
    max-width: 100%;
}
video {
    max-width: 100%;
    height: auto;
}
/** /ЗАГАЛЬНІ СТИЛІ **/

/** ЗАДАЄМО DISPLAY:FLEX ДЛЯ ЕЛЕМЕНТІВ **/
.wrapperMain, 
.header, 
.wrapperContent,
.navigation, 
.navigation ul, 
.navigation ul li a, 
.rowTag, 
.rowTagHeroName, 
.textBlock, 
.venoIcon, 
.underRowBlock,
.underRowBlock li, 
.skillBlock, 
.skillTable, 
.skillTable tr, 
.skillTable td, 
.footer, 
.infoList {
    display: flex;
    width: 100%;
}
/** /ЗАДАЄМО DISPLAY:FLEX ДЛЯ ЕЛЕМЕНТІВ **/

.historyGroupBlock, 
.rolesGroupBlock, 
.statsGroupBlock, 
.skillsGroupBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/** ОБГОРТКИ **/
.wrapperMain {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
}
.wrapperContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 840px;
}
/** /ОБГОРТКИ **/

/** ШАПКА **/
.header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 660px;
    background-image: url(imgsBack/venoHead.jpg);
}
.overlayColor {
    height: 100%;
    width: 100%;
    background-color: rgba(173, 198, 9, .2);
}
.bigLettersHero {
    position: fixed;
    top: 0;
    left: -36vw;
    width: 100%;
    padding-left: 12%;
    color: rgba(173, 198, 9, .5);
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 2px solid rgba(173, 198, 9, .5);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
/** /ШАПКА **/

/** НАВІГАЦІЯ САЙТОМ **/
nav {
    position: fixed;
    top: 32.5%;
    right: 10vw;
    height: 35%;
}
.navigation {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}
.navigation li {
    text-align: right;
    margin: 0.1em 0;
    padding: 0 0.2em;
    border-right: 3px solid rgba(173, 198, 9, 0);
}
.navigation li:hover {
    padding: 0 0.2em;
    border-right: 3px solid rgba(173, 198, 9, 1);
}
.navigation li a {
    flex-direction: row;
    justify-content: flex-end;
    color: rgba(173, 198, 9, .5);
    font-size: 1.4em;
    text-decoration: none;
}
.navigation li a:hover {
    color: rgba(173, 198, 9, 1);
    transform: translate(-0.3rem);
}
/** /НАВІГАЦІЯ САЙТОМ **/

/** ЗАГОЛОВКИ **/
.rowTag {
    flex-direction: row;
    justify-content: center;
    margin-top: 0.2em;
    padding: 0.2em;
    color: rgba(173, 198, 9, 1);
    font-size: 2.8em;
    font-style: italic;
    line-height: 1;
    background-color: rgba(173, 198, 9, .2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
    border-top: 1px solid rgba(173, 198, 9, .5);
    border-bottom: 1px solid rgba(173, 198, 9, .5);
}
.rowTagHeroName {
    justify-content: center;
    margin: 0;
    height: 32px;
    color: rgba(173, 198, 9, 1);
    font-size: 1.8em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .7);
}
/** /ЗАГОЛОВКИ **/

/** ТЕКСТОВА ЧАСТИНА БЛОКІВ **/
.textBlock {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0.2em;
    margin-top: 0.8em;
}
.textBlock p {
    margin: 0;
    padding: 0.4em 0.8em;
    font-size: 1.05em;
    text-indent: 1em;
}
.textBlock p::first-letter {
    color: rgba(173, 198, 9, 1);
    font-size: 1.28em;
    font-style: italic;
}
.textIndent {
    text-indent: 1em;
    display: flex;
}
/** /ТЕКСТОВА ЧАСТИНА БЛОКІВ **/

/** АНІМАЦІЙНА МОДЕЛЬ ГЕРОЯ **/
img[alt="VenomancerGifAnimation"] {
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .7);
}
/** /АНІМАЦІЙНА МОДЕЛЬ ГЕРОЯ **/

/** ІКОНКА ГЕРОЯ **/
.venoIcon {
    justify-content: center;
    margin: 0.8rem 0;
    padding: 0.8em 0;
    opacity: .9;
    border-top: 1px solid rgba(173, 198, 9, .5);
}
/** /ІКОНКА ГЕРОЯ **/

/** БЛОКИ ПІД ЗАГОЛОВКАМИ **/
.underRowBlock {
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0 0 0.8em 0;
    padding: 0.2em;
    list-style: none;
}
.underRowBlock li {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.1em;
}
.underRowBlock img {
    width: 24px;
    height: 24px;
    margin: 0.4em 0.1em;
}
.underRowBlock img[alt="Agility"] {
    width: 33px;
    height: 33px;
}
/** /БЛОКИ ПІД ЗАГОЛОВКАМИ **/

/** АТРИБУТИ **/
.statsTable {
    width: 100%;
    font-size: 0.8em;
    margin-top: 1em;
}
.statsTable tr, th, td {
    border: none;
    background-color: rgba(173, 198, 9, .1);
}
.statsTable td {
    padding: 0.4em;
    text-align: center;
}
.statsTable th {
    width: 25%;
    padding: 0.4em;
    color: rgba(173, 198, 9, .9);
    font-size: 1.4em;
    letter-spacing: 0.1em;
    text-align: center;
    background-color: #fafafa;
    border-top: 2px solid rgba(173, 198, 9, 1);
    border-bottom: 2px solid rgba(173, 198, 9, 1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
}
.statsTable td:first-child {
    text-align: left;
    font-weight: 700;
}
.statsTable tfoot td {
    text-align: left;
}
.statsTable tfoot td:first-child {
    text-align: right;
}
.statsTable tr:hover {
    background-color: rgba(173, 198, 9, .3);
}
/** /АТРИБУТИ **/

/** ВМІННЯ **/
.skillTableSection {
    width: 48%;
    height: 100%;
    margin-top: 3em;
    background-color: transparent;
}
.skillTableSection:hover {
    box-shadow: 0 1px 4px rgba(33, 33, 33, .7);
}
.skillTable2 {
    flex-flow: column wrap;
    width: 100%;
    padding: 0.2em;
    font-size: 0.85em;
    background-color: transparent;
}
.skillTable2 tr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.2em 0.4em;
}
.skillTable2 thead tr:first-child {
    width: 104%;
    margin-left: -2%;
}
.skillTable2 tr:nth-child(odd) {
    background-color: rgba(173, 198, 9, .4);
}
.skillTable2 tr:nth-child(even) {
    background-color: rgba(173, 198, 9, .6);
}
.skillTable2 td {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.skillTable2 tbody tr:first-child, 
.skillTable2 td:first-child {
    justify-content: flex-start;
    font-weight: 700;
}
.skillTable2 thead tr {
    width: 100%;
    padding: 0;
}
.skillTable2 thead th {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: -0.6em;
    padding: 0 0.4em;
    background-color: #fafafa;
    border-bottom: 2px solid rgba(173, 198, 9, 1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
}
.skillTable2 thead img {
    width: 35%;
    margin-top: -2em;
    padding: 0.4em;
    background-color: rgba(173, 198, 9, .4);
    box-shadow: 0 1px 4px rgba(33, 33, 33, .7);
}
.skillTable2 thead h1 {
    color: rgba(173, 198, 9, 1);
    font-size: 1.8em;
    letter-spacing: 0.1em;
    text-shadow: 0 1px 1px rgba(33, 33, 33, .7);
}
.skillTable2 tbody tr:nth-child(2) td {
    font-size: 0.85em;
    font-weight: 400;
}
.skillTable2 p {
    padding: 0.8em 0.2em;
    font-size: 1.1em;
    font-style: italic;
}
.skillTable2 p::first-letter {
    color: #212121;
}
.skillTable2 tfoot td img {
    margin: 0 auto;
    padding: 0.2em;
}
/** /ВМІННЯ **/

/** ПІДВАЛ **/
.footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.infoList {
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 1.2em;
}
.infoList li {
    margin: 0.2em 0;
    padding: 0.2em 0;
}
.infoList li a {
    text-decoration: none;
    font-weight: 700;
    color: #212121;
    border-bottom: 2px solid rgba(173, 198, 9, 0);
}
.infoList li a:hover {
    border-bottom: 2px solid rgba(173, 198, 9, .9);
}
/** /ПІДВАЛ **/

@media only screen and (min-device-width : 320px)  and (max-device-width : 480px) {
  /* Оба сайдбара располагаются в одной строке */
    * {
        font-size: 1em;
    }
    /** ОБГОРТКИ **/
    .wrapperMain {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 320px;
        margin: 0 auto;
    }
    .wrapperContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
    }
    /** /ОБГОРТКИ **/

    /** ШАПКА **/
    .header {
        height: 100vh;
        background-image: url(imgsBack/venoHead.jpg);
        background-size: cover;
        background-position: center;
    }
    .overlayColor {
        height: 100%;
        width: 100%;
        background-color: rgba(173, 198, 9, .2);
    }
    .bigLettersHero {
        position: absolute;
        top: 0;
        left: 5vw;
        margin: 0;
        padding-left: 0;
        color: rgba(255, 255, 255, .7);
        font-size: 7em;
        overflow-wrap: break-word;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        border-bottom: none;
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    /** /ШАПКА **/

    /** НАВІГАЦІЯ САЙТОМ **/
    nav {
        position: fixed;
        top: 86%;
        right: 0;
        height: 12%;
        width: 100%;
    }
    .navigation {
        flex-flow: row wrap;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        list-style: none;
        background-color: rgba(173, 198, 9, .4);
    }
    .navigation li {
        justify-content: center;
        text-align: center;
        margin: 0.1em 0;
        padding: 0.2em;
        border-right: 3px solid rgba(173, 198, 9, 0);
    }
    .navigation li:hover {
        border-right: 3px solid rgba(173, 198, 9, 0);
    }
    .navigation li a {
        color: rgba(255, 255, 255, .7);
        font-size: 1.4em;
        text-decoration: none;
    }
    .navigation li a:hover {
        color: rgba(255, 255, 255, 1);
        text-shadow: 0 1px 1px rgba(33, 33, 33, .7);
        transform: translate(0);
    }
    /** /НАВІГАЦІЯ САЙТОМ **/

    /** ЗАГОЛОВКИ **/
    .rowTag {
        flex-direction: row;
        justify-content: center;
        margin-top: 0.2em;
        padding: 0.2em;
        color: rgba(173, 198, 9, 1);
        font-size: 2.8em;
        font-style: italic;
        line-height: 1;
        background-color: rgba(173, 198, 9, .2);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
        border-top: 1px solid rgba(173, 198, 9, .5);
        border-bottom: 1px solid rgba(173, 198, 9, .5);
    }
    .rowTagHeroName {
        justify-content: center;
        margin: 0;
        padding: 0 1em;
        height: 32px;
        color: rgba(173, 198, 9, 1);
        font-size: 1.6em;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .7);
    }
    /** /ЗАГОЛОВКИ **/

    /** ТЕКСТОВА ЧАСТИНА БЛОКІВ **/
    .textBlock {
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        padding: 0.2em;
        margin-top: 0.8em;
    }
    .textBlock p {
        margin: 0;
        padding: 0.4em 0.8em;
        font-size: 1.05em;
        text-indent: 1em;
    }
    .textBlock p::first-letter {
        color: rgba(173, 198, 9, 1);
        font-size: 1.28em;
        font-style: italic;
    }
    .textIndent {
        text-indent: 1em;
        display: flex;
    }
    /** /ТЕКСТОВА ЧАСТИНА БЛОКІВ **/

    /** АНІМАЦІЙНА МОДЕЛЬ ГЕРОЯ **/
    img[alt="VenomancerGifAnimation"] {
        width: 65%;
        height: 65%;
        float: none;
        margin: 4em 0 1em 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .7);
    }
    /** /АНІМАЦІЙНА МОДЕЛЬ ГЕРОЯ **/

    /** ІКОНКА ГЕРОЯ **/
    .venoIcon {
        justify-content: center;
        margin: 0.8rem 0;
        padding: 0.8em 0;
        opacity: .9;
        border-top: 1px solid rgba(173, 198, 9, .5);
    }
    /** /ІКОНКА ГЕРОЯ **/

    /** БЛОКИ ПІД ЗАГОЛОВКАМИ **/
    .underRowBlock {
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: -0.8em 0 0.8em 0;
        padding: 0.2em;
        list-style: none;
    }
    .underRowBlock li {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 1.1em;
    }
    .underRowBlock img {
        width: 24px;
        height: 24px;
        margin: 0.4em 0.1em;
    }
    .underRowBlock img[alt="Agility"] {
        width: 33px;
        height: 33px;
    }
    /** /БЛОКИ ПІД ЗАГОЛОВКАМИ **/

    /** АТРИБУТИ **/
    .statsTable {
        width: 100%;
        font-size: 0.8em;
        margin-top: 1em;
    }
    .statsTable tr, th, td {
        border: none;
        background-color: rgba(173, 198, 9, .1);
    }
    .statsTable td {
        padding: 0.4em;
        text-align: center;
    }
    .statsTable th {
        width: 25%;
        padding: 0.4em;
        color: rgba(173, 198, 9, .9);
        font-size: 1.4em;
        letter-spacing: 0.1em;
        text-align: center;
        background-color: #fafafa;
        border-top: 2px solid rgba(173, 198, 9, 1);
        border-bottom: 2px solid rgba(173, 198, 9, 1);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
    }
    .statsTable td:first-child {
        text-align: left;
        font-weight: 700;
    }
    .statsTable tfoot td {
        text-align: left;
    }
    .statsTable tfoot td:first-child {
        text-align: right;
    }
    .statsTable tr:hover {
        background-color: rgba(173, 198, 9, .3);
    }
    /** /АТРИБУТИ **/

    /** ВМІННЯ **/
    .skillTableSection {
        width: 100%;
        height: 100%;
        margin-top: 3em;
        background-color: transparent;
    }
    .skillTableSection:hover {
        box-shadow: 0 1px 4px rgba(33, 33, 33, .7);
    }
    .skillTable2 {
        flex-flow: column wrap;
        width: 100%;
        padding: 0.2em;
        font-size: 0.85em;
        background-color: transparent;
    }
    .skillTable2 tr {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0.2em 0.4em;
    }
    .skillTable2 thead tr:first-child {
        width: 104%;
        margin-left: -2%;
    }
    .skillTable2 tr:nth-child(odd) {
        background-color: rgba(173, 198, 9, .4);
    }
    .skillTable2 tr:nth-child(even) {
        background-color: rgba(173, 198, 9, .6);
    }
    .skillTable2 td {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .skillTable2 tbody tr:first-child, 
    .skillTable2 td:first-child {
        justify-content: flex-start;
        font-weight: 700;
    }
    .skillTable2 thead tr {
        width: 100%;
        padding: 0;
    }
    .skillTable2 thead th {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-top: -0.6em;
        padding: 0 0.4em;
        background-color: #fafafa;
        border-bottom: 2px solid rgba(173, 198, 9, 1);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    }
    .skillTable2 thead img {
        width: 35%;
        margin-top: -2em;
        padding: 0.4em;
        background-color: rgba(173, 198, 9, .4);
        box-shadow: 0 1px 4px rgba(33, 33, 33, .7);
    }
    .skillTable2 thead h1 {
        color: rgba(173, 198, 9, 1);
        font-size: 1.8em;
        letter-spacing: 0.1em;
        text-shadow: 0 1px 1px rgba(33, 33, 33, .7);
    }
    .skillTable2 tbody tr:nth-child(2) td {
        font-size: 0.85em;
        font-weight: 400;
    }
    .skillTable2 p {
        padding: 0.8em 0.2em;
        font-size: 1.1em;
        font-style: italic;
    }
    .skillTable2 p::first-letter {
        color: #212121;
    }
    .skillTable2 tfoot td img {
        margin: 0 auto;
        padding: 0.2em;
    }
    /** /ВМІННЯ **/

    /** ПІДВАЛ **/
    .footer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .infoList {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-size: 1.2em;
        padding: 0.8em;
    }
    .infoList li {
        margin: 0.2em 0;
        padding: 0.2em 0;
    }
    /** /ПІДВАЛ **/
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .wrapperMain {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 768px;
        margin: 0 auto;
    }
    .wrapperContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 580px;
    }
    .bigLettersHero {
        position: fixed;
        top: 11vh;
        left: -45vw;
        width: 100%;
        padding-left: 6%;
        color: rgba(173, 198, 9, .5);
        font-size: 3.2em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        border-bottom: 2px solid rgba(173, 198, 9, .5);
        -ms-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
        background-image: url(imgsBack/venoHead.jpg);
        background-position: center;
    }
    nav {
        position: fixed;
        top: 32.5%;
        right: 1vw;
        height: 35%;
    }
    .navigation li a {
        flex-direction: row;
        justify-content: flex-end;
        color: rgba(173, 198, 9, .5);
        font-size: 1.15em;
        text-decoration: none;
    }
}



